<div class="info_block">
    <h1> this site developed by arnav so you can use json data for free
        , how can you please learn some api and send get request
    </h1>

    <P>WHEN YOU HIT " / " OUTPUT IS= HTML PAGE</P>
    <P>WHEN YOU HIT " /api/courses " OUTPUT IS= COURSES ARRAY</P>
    <P>WHEN YOU HIT "/api/courses/:id " OUTPUT IS= COURSES object</P>
</div>

<form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="img">Select image:</label>
    <input type="file" name="file" value="upload" id="img" accept="image/*">
    <input type="submit">
</form>